body{
    background-color: #e0f7ff;
}

.container {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.container h2 {
    text-align: center;
    color: #007bff;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.container button:hover {
    background-color: #0056b3;
}
.success {
    color: green;
    text-align: center;
    margin-bottom: 15px;
}
.error {
    color: red;
    text-align: center;
    margin-bottom: 15px;
}  