body{
    background-color: #e0f7ff;
}

.user-view-bill {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    overflow-x: auto;
}

.user-view-bill h1 {
    color: #1d3272;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 30px;
}

/* Table Styles */
.user-view-bill table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.user-view-bill th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.user-view-bill th {
    background-color: #007BFF;
    color: white;
}

.user-view-bill tr:hover {
    background-color: #f1f1f1;
}

.user-view-bill td {
    color: #555;
}

/* Button Styles */
.user-view-bill button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto;
}

.user-view-bill button:hover{
    background-color: #0056b3;
    color: rgb(225, 223, 223);
}

#payment a{
    color: white;
    text-decoration: none;
}

/* Total Amount Due */
#total {
    text-align: center;
    color: #333;
}

strong {
    color: #007BFF;
}
