body{
    font-family: Arial, sans-serif;
    background-color: #e0f7ff;
    margin: 0;
    padding: 0;
}

.dashboard {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcome-note{
    margin-bottom: 20px;
}

.welcome-note h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: black;
    margin-bottom: 10px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 27px;
    color: #1d3272;

}

h3 {
    color: #2946b9;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #2980b9;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.no-data {
    text-align: center;
    color: #e74c3c;
}

.message{
    text-align: center;
    color: #e74c3c;
    font-weight: bold;
}

.update-notes-btn{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    background-color: #007bff;
    color: white;
}
.ShowNotes-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    background-color: #007bff;
    color: white; 
    text-decoration: none;
    display: inline-block;
    text-align: center; 
}
