body{
    background-color: #e0f7ff;
}

.bank_container {
    background-color: #fff;
    margin: auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif; 
}

.bank_container h1 {
    color: #007bff;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}

.total{
    font-size: 1.2rem;
}

.total strong{
    color: #0056b3;
}

.details h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.bank_container p {
    margin: 1rem 0;
    line-height: 1.6;
}

.details ul {
    list-style-type: none;
    padding: 0;
}

.details li {
    margin: 0.5rem 0;
    color: #555;
}

strong {
    color: #333;
}

/* Status Messages */
.error {
    color: #dc3545;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
}

.success {
    color: #28a745;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
}

/* Inline Layout for Details and Form */
.inline-container {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.details,
.form {
    flex: 1;
    padding: 1rem;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fdfdfd;
}

.form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.form p {
    margin-bottom: 1rem;
}

.form label {
    font-weight: bold;
    color: #555;
}

.form input[type="text"] {
    width: 80%;
    padding: 0.8rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-size: 1rem;
    color: #495057;
}

.form input[type="text"]:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

/* Button Styles */
button[type="submit"],
button a {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.form button[type="submit"]:hover {
    background-color: #0056b3;
}

.form button {
    margin-top: 1rem;
    align-self: center;
}

.bank_container a {
    background-color: #6c757d;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.bank_container a:hover {
    background-color: #5a6268;
}