body{
    background-color: #e0f7ff;
}
.container_earnings {
    background-color: #ffffff;
    max-width: 500px;
    width: 100%;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    margin: 40px auto;
}

h1 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 40px;
    color: #1976d2;
    font-weight: 700;
}

.earnings-info p {
    font-size: 18px;
    margin: 15px 0;
    line-height: 1.6;
    color: #555;
}

.earnings-info p span {
    font-weight: bold;
    color: #1976d2;
}

.total-earnings {
    font-size: 22px;
    font-weight: bold;
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px solid #e0f2f1;
}

/* Responsive styling for smaller screens */
@media (max-width: 500px) {
    .container_earnings {
        padding: 20px;
    }
    h1 {
        font-size: 22px;
    }
    .earnings-info p {
        font-size: 16px;
    }
    .total-earnings {
        font-size: 20px;
    }
}
